certifi==2018.1.18
chardet==3.0.4
Django==2.0.3
django-cors-headers==2.2.0
django-filter==1.1.0
djangorestframework==3.9.1
googlemaps==2.5.1
idna==2.6
Markdown==2.6.11
pkg-resources==0.0.0
pytz==2018.3
requests==2.18.4
urllib3==1.24.2
